<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist SYSTEM "http://www.apple.com/DTDs/PropertyList-1.0.dtd" PUBLIC "-//Apple//DTD PLIST 1.0//EN">

-<plist version="1.0">


-<dict>

<key>items</key>


-<array>


-<dict>

<key>assets</key>


-<array>


-<dict>

<key>kind</key>

<string>software-package</string>

<key>url</key>

<string>https://www.dropbox.com/preview/Public/TWC_Server_v2.2_Gamma.ipa</string>

</dict>

</array>

<key>metadata</key>


-<dict>

<key>bundle-identifier</key>

<string>com.server.newtwc</string>

<key>bundle-version</key>

<string>9.270.2</string>

<key>kind</key>

<string>software</string>

<key>title</key>

<string>alveto</string>

</dict>

</dict>

</array>

</dict>

</plist>